<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363811228333-ibklj5hab715jb5hq1840eob6uen82av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363811228333-ibklj5hab715jb5hq1840eob6uen82av</string>
	<key>API_KEY</key>
	<string>AIzaSyDHr7R5HNGcZrMsUw6W03jj60NCIDhnJZI</string>
	<key>GCM_SENDER_ID</key>
	<string>363811228333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bosala</string>
	<key>PROJECT_ID</key>
	<string>bosla-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bosla-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363811228333:ios:4d2caa1f4849bca02d9424</string>
</dict>
</plist>